/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.image-buttons ul,
.image-buttons ol {
    display: inline-block;
    vertical-align: middle;
}

.image-buttons__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.image-button {
    position: relative;
    display: block;
    width: 100%;
    height: 226px;
    overflow: hidden;
    margin-top: 32px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px rgba(29,66,138,0.16);
            box-shadow: 0 0 8px rgba(29,66,138,0.16);
}

.image-button__img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


.image-button__hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 1;
    padding: 11px 54px 12px 19px;
}

.image-button__hover::before {
    content: "\e90c";
    font-family: 'icomoon';
    height: 100%;
    width: 44px;
    position: absolute;
    background-color: var(--color-teal);
    right: 0;
    top: 0;
    color: var(--color-white);
    font-size: 22px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.image-button__title {
    padding: 0;
    color: #161E43;
    font-size: 18px;
}

.image-button__description {
    font-size: 16px;
    line-height: 1.62em;
    color: var(--color-charcoal);
    padding-top: 10px;
    display: block;
}

.image-button__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25px;
}

.image-button__cta .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    background-color: var(--color-teal);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--color-white);
}

.image-button__cta .btn:after {
    position: relative;
    margin-left: 10px;
}

.image-button__cta__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 25px;
    z-index: 2;
    background-color: var(--color-white);
    color: var(--color-black);
    color: #161E43;
    font-size: 18px;
    transform: translate(0, 0);
    transition: transform 0.3s ease-in-out;
}

.image-button__cta__title::before {
    content: "\e90c";
    font-family: 'icomoon';
    height: 100%;
    width: 44px;
    position: absolute;
    background-color: var(--color-teal);
    right: 0;
    top: 0;
    color: var(--color-white);
    font-size: 22px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (min-width: 1200px) {
    .image-button {
        height: 300px;
    }

    .image-button__hover {
        padding: 13px 54px 13px 25px;
    }

    .image-button__title {
        font-size: 24px;
    }

    .image-button__hover::before {
        width: 50px;
    }

    .image-button:hover .image-button__hover {
        padding: 25px;
        padding-bottom: 62px;
        background-color: rgba(255,255,255,0.95);
        height: 100%;
    }

    .image-button:hover .image-button__hover::before {
        display: none;
    }

   .image-button__hidden {
        opacity: 0;
        max-height: 0;
    }
    
    .image-button:hover .image-button__hidden {
        opacity: 1;
        max-height: 300px;
    } 

}

@media (min-width: 1200px) {
    .image-button:not(.image-button--no-description) {
        height: 100%;
        margin-top: 0;
    }

    .image-button__hidden {
        position: relative;
        z-index: 1;
        opacity: 1;
        background-color: transparent;
        max-height: initial;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .image-button:not(.image-button--no-description):hover .image-button__hidden {
        max-height: 100%;
    }

    .image-button__cta {
        position: relative;
        margin-top: auto;
        overflow: hidden;
    }

    .image-button__hidden__content {
        padding: 25px;
        flex: 1;
        background-color: var(--color-white);
        transform: translate(0, 100%);
        transition: transform 0.3s ease-in-out;
    }

    .image-button__cta__title {
        font-size: 24px;
    }

    .image-buttons__row {
        margin-bottom: -32px;
    }

    .image-buttons__row > div {
        margin: 0 0 32px;
    }

    .image-button--link:not(.image-button--no-description):hover .image-button__hidden__content {
        transform: translate(0, 0);
    }

    .image-button--link:not(.image-button--no-description):hover .image-button__cta__title {
        transform: translate(0, 100%);
    }
}