/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythm setup.
 *
 * COMPONENTS
 * Margin/Padding........Utility Margin/Padding Classes
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/

@media (min-width: 1200px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-height: 100vh;
    }
}


/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

.wp-caption.alignright,
.wp-caption.alignleft,
.wp-caption.aligncenter {
    display: table;
}

.wp-caption.alignright,
.wp-caption.alignleft,
.wp-caption.alignnone,
.wp-caption.aligncenter {
    margin: 0;
    width: auto !important;
}

img.alignright,
.wp-caption.alignright,
img.alignleft,
.wp-caption.alignleft {
    height: 217px;
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
}

img.alignnone,
.wp-caption.alignnone img,
img.aligncenter,
.wp-caption.aligncenter img {
    height: auto;
    max-width: 100%;
}

img.alignnone,
.wp-caption.alignnone,
img.aligncenter,
.wp-caption.aligncenter {
    margin: 0 0 22px 0;
}

img.alignright,
.wp-caption.alignright {
    float: none;
    margin: 0 0 20px 0;
}

img.alignleft,
.wp-caption.alignleft {
    float: none;
    margin: 0 0 20px 0;
}

img.aligncenter,
.wp-caption.aligncenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-caption-text {
    caption-side: bottom;
    display: table-caption;
}

@media (min-width: 768px) {
    img.alignright,
    .wp-caption.alignright,
    img.alignleft,
    .wp-caption.alignleft {
        height: 250px;
        max-width: 47.5%;
    }

    img.alignright,
    .wp-caption.alignright {
        float: right;
        margin: 0 0 9px 10px;
    }

    img.alignleft,
    .wp-caption.alignleft {
        float: left;
        margin: 0 10px 10px 0;
    }

}

@media (min-width: 1200px) {
    img.alignright,
    .wp-caption.alignright,
    img.alignleft,
    .wp-caption.alignleft {
        height: auto;
        max-width: 38%;
    }

    img.alignright,
    .wp-caption.alignright {
        float: right;
        margin: 4px 0 4px 10px;
    }

    img.alignleft,
    .wp-caption.alignleft {
        float: left;
        margin: 0 10px 10px 0;
    }

}



iframe,
img {
    max-width: 100%;
}

/* Fade-in for lazyloaded images */
.will-lazyload {
    opacity: 0;
    -webkit-transition: opacity .25 linear;
    -o-transition: opacity .25 linear;
    transition: opacity .25 linear;
}

.will-lazyload.lazyloaded {
    opacity: 1;
}

.bg-white {
    background: var(--color-white);
}

.bg-gray,
.bg-light-teal {
    background: var(--color-light-teal);
}

.bg-teal {
    background-color: var(--color-teal);
}

.bg-teal h2,
.bg-teal h3,
.bg-teal h4,
.bg-teal h5,
.bg-teal h6,
.bg-teal p,
.bg-teal a {
    color: var(--color-white);
}

.bg-teal h5 span::before, .bg-teal .h5 span::before, .bg-teal h5.center span::after, .bg-teal .h5.center span::after {
    background-color: var(--color-white);
}


/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */

 
h1, 
.h1,
h2, 
.h2,
h3, 
.h3,
h4, 
.h4,
h5, 
.h5,
h6, 
.h6 {
    margin:0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h2, 
.h2,
h3, 
.h3 {
    color: #161E43;
}

h1, 
.h1 {
    font-size: 32px;
    line-height: 1.31em;
}

h2, 
.h2 {
    font-size: 28px;
    line-height: 1.35em;
    padding-bottom: 20px;
    position: relative;
}

h3, 
.h3 {
    font-size: 24px;
    line-height: 1.4em;
    padding-bottom: 20px;
    padding-top: 10px;
}

h4, 
.h4 {
    font-size: 20px;
    line-height: 1.5em;
    padding-bottom: 20px;
    padding-top: 10px;
}

h5, 
.h5 {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-blue);
    font-family: 'Lato', sans-serif; 
    margin-bottom: 5px;
    position: relative;
}

h5 span, 
.h5 span {
    position: relative;
}

h5 span::before, 
.h5 span::before,
h5.center span::after, 
.h5.center span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 24px;
    height: 2px;
    background: var(--color-blue);
    opacity: 0;
}

h5 span::after, 
.h5 span::after {
    left: 0;
}

p {
   margin:0;
   padding: 0 0 20px; 
   font-size: 16px;
   line-height: 1.62em;
   font-weight: normal;
}

p:last-child {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    h1, 
    .h1 {
        font-size: 42px;
    }

    h2, 
    .h2 {
        font-size: 38px;
    }
  
    h3, 
    .h3 {
        font-size: 28px;
    }

    h4, 
    .h4,
    h5, 
    .h5 {
        font-size: 18px;
    }

    h5.center, 
    .h5.center {
        text-align: center;
    }

    h5 span, 
    .h5 span {
        display: inline-block;
        padding-right: 40px;
    }

    h5.center span, 
    .h5.center span {
        padding-left: 40px;
        padding-right: 40px;
    }

    h5 span::before, 
    .h5 span::before,
    h5.center span::after, 
    .h5.center span::after {
        opacity: 1;
    }

}




ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-content ul,
.page-content ol {
    width: auto;
    overflow: hidden;
    padding-left: 15px;
}

ol ol,
ul ul,
ol ul,
ul ol {
    padding-left: 15px;
}

.page-content ul {
    list-style-type: none;
}

ol {
    padding-left: 25px;
}

ol li {
    counter-increment: list;
    position: relative;
    list-style-type: none;
    padding-left: 25px;
}

ol li:before {
    content: counter(list) ".";
    position: absolute;
    left: 0;
}

ul li {
    margin: 0 0 15px;
    padding: 0 0 0 25px; 
    font-size: 16px;
    line-height: 1.62em;
    font-weight: 400;
    position: relative;
}

ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #171717;
}

a {
    word-break: break-word;
    text-decoration: none;
    color: var(--color-teal);
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear,  left top, left bottom,  from(rgba(0,118,128,1)),to(rgba(0,118,128,1)));
    background: -o-linear-gradient(top,  rgba(0,118,128,1) 0%,rgba(0,118,128,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,118,128,1) 0%,rgba(0,118,128,1) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; 
}

blockquote {
    margin:0;
    padding: 28px 25px; 
    font-size: 16px;
    line-height: 1.62em;
    font-weight: normal;
    position: relative;
    -webkit-box-shadow: 0 0 16px rgba(29,66,138,0.16);
            box-shadow: 0 0 16px rgba(29,66,138,0.16);
    border-radius: 4px;
    max-width: 872px;
    margin: 20px auto 20px;
    background-color: var(--color-white);
}

blockquote i {
    font-size: 30px;
    position: relative;
    color: var(--color-teal);
    background: var(--color-white);
    display: block;
    margin-bottom: 5px;
}

blockquote i::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 15px;
    width: calc(100% - 26px);
    height: 2px;
    background: rgba(29,66,138,0.15);
}




@media (min-width: 1200px) {

    a:hover {
      background-size: 100% 100%;
      color: var(--color-white);
      border-radius: 3px;
    }

}



/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/




/**
 * Utility Margin/Padding Classes
 *

/* Used on outer-most section container so section margins collapse */
.section-margins {
    margin-top: var(--section-margins);
    margin-bottom: var(--section-margins);
}

/* Used only for sections with colored backgrounds */
.section-padding {
    padding-top: var(--section-margins);
    padding-bottom: var(--section-margins);
}




/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}




/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.
 
     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

 .btn {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 1.34em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-white);
    padding: 13px 29px 13px 29px;
    border-radius: 4px;
    border: 2px solid var(--color-teal);
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    background: var(--color-teal);
    z-index: 1;
    text-transform: capitalize;
}

.btn-secondary {
    background: var(--color-blue);
    border-color: var(--color-blue);
}

.btn-white {
    background: var(--color-white);
    color: var(--color-teal);
    border: 2px solid var(--color-white);
}

.btn-tertiary {
    background: transparent;
    border: none;
    color: var(--color-teal);
    border-radius: 0;
    padding: 0 38px 0 0;
}

.btn-tertiary:after {
    content: "\e90c";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 21px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn+.btn {
    margin-top: 20px;
}


@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);transform: translateX(5px);}
}


@keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);transform: translateX(5px);}
}

@media (min-width: 600px) {

    .btn+.btn {
        margin-top: 10px;
        margin-left: 20px;
    }

}

@media (min-width: 1200px) {

    .btn+.btn {
        margin-top: 30px;
        margin-left: 50px;
    }

    .btn:hover,
    .btn-primary:hover {
        color: var(--color-teal);
        border: 2px solid var(--color-teal);
        background: transparent;
    }

    .btn-secondary:hover {
        color: var(--color-blue);
        border: 2px solid var(--color-blue);
        background: transparent;
    }

    .btn-tertiary:hover {
        background: transparent;
        border: none;
        color: var(--color-teal);
    }

    .btn-tertiary:hover:after {
        -webkit-animation: shake 5s ease infinite;
                animation: shake 5s ease infinite;
    }

    .btn-white:hover {
        background: none;
        border-color: var(--color-white);
        color: var(--color-white);
    }


}



/**
 * Icons
 */

 @font-face {
    font-family: 'icomoon';
    src:  url('/wp-content/themes/howardhealthcaregroup/assets/icons/icomoon.eot?61wj9a');
    src:  url('/wp-content/themes/howardhealthcaregroup/assets/icons/icomoon.eot?61wj9a#iefix') format('embedded-opentype'),
      url('/wp-content/themes/howardhealthcaregroup/assets/icons/icomoon.ttf?61wj9a') format('truetype'),
      url('/wp-content/themes/howardhealthcaregroup/assets/icons/icomoon.woff?61wj9a') format('woff'),
      url('/wp-content/themes/howardhealthcaregroup/assets/icons/icomoon.svg?61wj9a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-down-angle:before {
    content: "\e900";
  }
  .icon-down-arrow:before {
    content: "\e901";
  }
  .icon-error:before {
    content: "\e902";
  }
  .icon-fax:before {
    content: "\e903";
  }
  .icon-house:before {
    content: "\e904";
  }
  .icon-large-quotes:before {
    content: "\e905";
  }
  .icon-left-angle:before {
    content: "\e906";
  }
  .icon-left-arrow:before {
    content: "\e907";
  }
  .icon-location:before {
    content: "\e908";
  }
  .icon-phone:before {
    content: "\e909";
  }
  .icon-responsive-menu:before {
    content: "\e90a";
  }
  .icon-right-angle:before {
    content: "\e90b";
  }
  .icon-right-arrow:before {
    content: "\e90c";
  }
  .icon-search:before {
    content: "\e90d";
  }
  .icon-small-quotes:before {
    content: "\e90e";
  }
  .icon-up-angle:before {
    content: "\e90f";
  }
  .icon-up-arrow:before {
    content: "\e910";
  }
  .icon-x-close:before {
    content: "\e911";
  }
  .icon-ctrl:before {
    content: "\ea50";
  }
  



/**
 * Forms
 */

.form-col {
    margin-bottom: 24px;
    position: relative;
}

label {
    display: block;
    text-align: left;
    color: var(--color-charcoal);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding-bottom: 9px;
    line-height: 1.2em;
}

label sup {
    color: var(--color-teal);
    font-size: 17px;
    top: 0;
}

textarea {
    resize: none;
    width: 100%;
    background-color: #F4F9FA;
    padding: 15px 15px;
    height: 116px;
    color: var(--color-charcoal);
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    border: 1px solid #D9EAEC;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}
/* Removes default webkit form styling */
input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
    -webkit-appearance: none;
}

input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid var(--color-teal);
}

/* default text input style */
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
    width: 100%;
    background-color: #F4F9FA;
    padding: 0 15px;
    height: 49px;
    color: var(--color-charcoal);
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    border: 1px solid #D9EAEC;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

/* Removes inconsistent padding from Firefox buttons */
button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

[type="text"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="week"]:focus,
[type="date"]:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--color-teal);
}

[type="text"]::-webkit-input-placeholder, [type="date"]::-webkit-input-placeholder, [type="datetime"]::-webkit-input-placeholder, [type="datetime-local"]::-webkit-input-placeholder, [type="email"]::-webkit-input-placeholder, [type="month"]::-webkit-input-placeholder, [type="number"]::-webkit-input-placeholder, [type="password"]::-webkit-input-placeholder, [type="search"]::-webkit-input-placeholder, [type="tel"]::-webkit-input-placeholder, [type="url"]::-webkit-input-placeholder, [type="week"]::-webkit-input-placeholder, [type="date"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: var(--color-charcoal);
    opacity: 0.6;
}

[type="text"]::-moz-placeholder, [type="date"]::-moz-placeholder, [type="datetime"]::-moz-placeholder, [type="datetime-local"]::-moz-placeholder, [type="email"]::-moz-placeholder, [type="month"]::-moz-placeholder, [type="number"]::-moz-placeholder, [type="password"]::-moz-placeholder, [type="search"]::-moz-placeholder, [type="tel"]::-moz-placeholder, [type="url"]::-moz-placeholder, [type="week"]::-moz-placeholder, [type="date"]::-moz-placeholder, textarea::-moz-placeholder {
    color: var(--color-charcoal);
    opacity: 0.6;
}

[type="text"]:-ms-input-placeholder, [type="date"]:-ms-input-placeholder, [type="datetime"]:-ms-input-placeholder, [type="datetime-local"]:-ms-input-placeholder, [type="email"]:-ms-input-placeholder, [type="month"]:-ms-input-placeholder, [type="number"]:-ms-input-placeholder, [type="password"]:-ms-input-placeholder, [type="search"]:-ms-input-placeholder, [type="tel"]:-ms-input-placeholder, [type="url"]:-ms-input-placeholder, [type="week"]:-ms-input-placeholder, [type="date"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: var(--color-charcoal);
    opacity: 0.6;
}

[type="text"]::-ms-input-placeholder, [type="date"]::-ms-input-placeholder, [type="datetime"]::-ms-input-placeholder, [type="datetime-local"]::-ms-input-placeholder, [type="email"]::-ms-input-placeholder, [type="month"]::-ms-input-placeholder, [type="number"]::-ms-input-placeholder, [type="password"]::-ms-input-placeholder, [type="search"]::-ms-input-placeholder, [type="tel"]::-ms-input-placeholder, [type="url"]::-ms-input-placeholder, [type="week"]::-ms-input-placeholder, [type="date"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: var(--color-charcoal);
    opacity: 0.6;
}

[type="text"]::placeholder,
[type="date"]::placeholder,
[type="datetime"]::placeholder,
[type="datetime-local"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
[type="date"]::placeholder,
textarea::placeholder {
    color: var(--color-charcoal);
    opacity: 0.6;
}


/* Hide reCaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}




/**
 * Pagination
 */

.wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi {
        margin-top: 70px;
    }

}



/**
 * Sticky Sidebar
 */

@media(min-width: 1025px) {
    .sticky-sidebar {
        position: sticky;
        top: 125px;
    }
}