/*------------------------------------*\
    
    Header CSS
 
    eg: Header, Navigation, Ubermenu, Masthead 
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
    Breadcrumbs...........Breadcrumbs navigation typically near the masthead/page heading

\*------------------------------------*/

/**
 * Page-head
 */


 .page-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    z-index: 99;
    padding: 0;
    transition: all .5s;
}

.page-header ul li::before {
    display: none;
}

.header-top {
    padding: 5px 0 7px;
}

.logo {
    float: left;
    max-width: 158px;
}

.site-logo {
    display: inline-block;
}

.header-right {
    float: right;
}

.toggle-menu,
.page-header .search {
    float: left;
}

.toggle-menu {
    font-size: 28px;
    color: var(--color-teal);
    line-height: 1em;
    cursor: pointer;
    margin-top: 22px;
}

.page-header .search {
    font-size: 22px;
    color: var(--color-teal);
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.mobile-header {
    background: var(--color-teal);
    color: var(--color-white);
}

.mobile-header ul {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mobile-header ul li {
    width: 50%;
    margin: 0;
    padding: 12px 0;
    border-left: 1px solid #08626A;
}

.mobile-header ul li:first-child {
    border-left: none;
    text-align: left;
}

.mobile-header ul li a {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    background: none;
}

.mobile-header ul li a i {
    font-size: 19px;
    vertical-align: middle;
    padding: 0 3px 5px 0;
}

.header-phone-btn {
    float: left;
}

.header-right .btn {
    padding: 9px 22px 9px 22px;
}

.header-phone-btn .btn {
    color: var(--color-teal);
    border: 2px solid var(--color-teal);
    background: var(--color-white);
    padding-left: 18px;
}

.header-phone-btn .btn i {
    vertical-align: middle;
    padding: 0 2px 4px 0;
    font-size: 19px;
}

.header-contact-btn {
    float: left;
    padding: 0 24px 0 16px;
}

.desktop-menu__search {
    position: absolute;
    background-color: var(--color-light-teal);
    padding: 15px 0;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
}

.desktop-menu__search.js-search-active {
    display: block;
} 

.desktop-menu_wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 646px;
    border: 1px solid var(--color-teal);
    border-radius: 4px;
    background-color: #F4F9FA;
    padding: 0 15px;
    overflow: hidden;
}

.desktop-menu_wrap input {
    background-color: transparent;
    border: none;
    padding: 0 90px 0 0;
    height: 50px;
}

.desktop-menu_wrap button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-teal);
    color: #ffff;
    border: none;
    height: 100%;
    width: 80px;
}


.js-search-toggle.js-search-active i::before {
    content: '\e911';
}

.desktop-menu_wrap input:focus {
    border: none;
}

@media (min-width: 768px) {
    .header-top {
        padding: 20px 0;
    }

    .page-header .container {
        position: relative;
    }
    
    .logo {
        float: none;
        max-width: 100%;
        position: absolute;
        left: 52px;
        top: -25px;
        padding: 7px 7px 5px 7px;
        box-shadow: 0 0 16px rgba(29, 66, 138, 0.08);
        border-radius: 0 0 4px 4px;
        background: var(--color-white);
        width: 206px;
    }

    .logo img {
        margin: 0 auto;
    }

    .toggle-menu {
        font-size: 21px;
        margin-top: 12px;
    }
    
    .page-header .search {
        font-size: 17px;
        margin-right: 24px;
        margin-top: 12px;
    }

}

@media (min-width: 1200px) {
    .page-header {
        position: fixed;
    }

    .header-top {
        padding: 21px 0;
    }

    .page-header .container {
        position: relative;
    }
    
    .logo {
        left: 16px;
        top: -20px;
        padding: 5px 2px 2px 2px;
        width: 260px;
    }

    .header-phone-btn,
    .header-contact-btn {
        padding: 0 0 0 16px;
    }
    
    .page-header .search {
        margin-top: 0;
        margin-right: 0;
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .search:hover {
        color: var(--color-charcoal);
    }

    .header-phone-btn .btn:hover {
        color: var(--color-white);
        border: 2px solid var(--color-teal);
        background: var(--color-teal);
    }

    .desktop-menu__search {
        padding: 25px 0;
    }
    
    .js-search-toggle {
        position: relative;
        z-index: 1;
    }

    /* .js-search-toggle.js-search-active::before {
        content: '';
        position: absolute;
        top: -33px;
        background-color: var(--color-teal);
        width: 56px;
        height: 88px;
        z-index: -1;
        left: -20px;
    } */
}










/**
 * Navigation
 */


/* General Styling */

.nav-primary {
    display: none;
    position: fixed;
    top: 82px;
    height: calc(100% - 82px);
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-teal);
    z-index: 10;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .nav-primary {
        height: auto;
        padding: 35px 0;
    }
}

@media (min-width: 1200px) {
    .nav-primary {
        position: relative;
        height: auto;
        top: 0;
        background-color: transparent;
        padding: 0;
        max-height: initial;
    }
}

.nav-primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {
    .nav-primary ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }   
}

.nav-primary li {
    cursor: pointer;
    position: relative;
    padding: 0 0 0;
    margin: 0;
}

@media (min-width: 1200px) {
    .nav-primary li {
        margin: 0 20px;
    }
}

.nav-primary li:before,
.nav-primary li:after {
    display: none; 
}

.nav-primary a {
    display: block;
    border: none;
    background: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    padding: 10px 22px;
}

@media (min-width: 768px) {
    .nav-primary a {
        padding: 10px 52px;
    }
}

@media (min-width: 1200px) {
    .nav-primary a {
        color: var(--color-charcoal);
        padding: 0;
    }
}

.sub-menu-toggle {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    color: var(--color-charcoal);
}

/* 1st Level */

.nav-primary > .menu > li {
    display: inline-block;
}


/* Sub Menus */

.nav-primary .sub-menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -20px;
    max-width: 250px;
    width: 250px;
    padding-top: 35px;
    transition: opacity 0.25s ease-in-out,
                transform 0.25s ease-in-out;
}

@media (min-width: 1025px) {
    .nav-primary .sub-menu {
        display: block;
        opacity: 0;
        transform: translateY(15px);
        pointer-events: none;
    }

    .nav-primary li:hover > .sub-menu {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}

.nav-primary .sub-menu li {
    display: block;
    margin: 0;
}

.nav-primary .sub-menu li a {
    background-color: var(--color-light-teal);
    padding: 10px 20px;
    color: var(--color-black);
    box-shadow: inset 0 0 var(--color-teal);
    transition: box-shadow 0.3s ease-in-out,
                color 0.3s ease-in-ou;
}

@media (min-width: 1025px) {
    .nav-primary .sub-menu li a:hover {
        color: var(--color-white);
        box-shadow: inset 0 50px var(--color-teal);
    }
}


/* 3rd Level Sub Menus */

.nav-primary .sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

@media (min-width: 1200px) {
    .nav-primary {
        display: inline-block;
        float: left;
        padding-top: 10px;
        width: auto;
    }

    .nav-primary a:hover {
        border: none;
        background: none;
        color: var(--color-teal);
    }

    .nav-primary li.current-menu-item a {
        background: none;
        color: var(--color-teal);
    }
}





/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i { /* controls styling of mobile menu toggle */
    display: block; 
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}

.mobile-menu {
    position:  relative;
    z-index: 9;
}


@media only screen and (min-width: 1024px) {
  .ubermenu > ul > li > a {
      padding-top: 40px !important; /* controls top level menu items on desktop size */
      padding-bottom: 40px !important;
      display: block;
  }
}

.ubermenu-responsive.ubermenu {
    top: 80px;
    left: 0;
    max-height: 500px !important;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 174px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }

    .ubermenu-responsive.ubermenu {
        top: auto; 
    }
}


@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {
	
	.sticky-bar {
		padding-bottom: 34px; 
		padding-left: 16px;
		padding-right: 16px;
	}
}




/**
 * Ubermenu Styling - Custom Styles
 */




/**
 * Masthead
 */

 .masthead--innerpage {
    background: linear-gradient(to right,  rgba(29,66,138,1) 0%,rgba(0,118,128,1) 45%,rgba(5,150,162,1) 100%);
    padding: 20px 0;
    color: var(--color-white);
 }

 @media (min-width: 768px) {
    .masthead--innerpage {
        padding: 30px 0 25px;
     }
 }

 @media (min-width: 1200px) {
    .masthead {
        margin-top: 87px;
    }

    .masthead--innerpage {
        padding: 68px 0 20px;
    }

    .masthead--innerpage h1 {
        font-size: 48px;
    }
 }




/**
 * Breadcrumbs
 */

 .back-to-page {
    padding-top: 6px;
}

.back-to-page a {
    padding: 0;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: var(--color-white);
    font-weight: 400;
    background: transparent;
}

.back-to-page a::after,
.breadcrumbs a::after {
    display: none;
}

.back-to-page a i {
    font-size: 9px;
    vertical-align: middle;
    padding: 0 5px 1px 0;
    display: inline-block;
}

.breadcrumbs {
    padding-top: 16px;
}

.breadcrumbs ul {
    padding: 0 0 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.breadcrumbs li {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    color: var(--color-white);
    position: relative;
    font-weight: 700;
}

.breadcrumbs li::after {
    content: "|";
    position: absolute;
    left: -2px;
    top: 0;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
}

.breadcrumbs li:first-child {
    padding-left: 0;
}

.breadcrumbs li:first-child::after {
    display: none;
}

.breadcrumbs a {
    color: var(--color-white);
    font-weight: 400;
    border: none;
    background: transparent;
    text-decoration: none;
}

.breadcrumbs li::before {
    display: none;
}

@media (min-width: 1200px) {
    .breadcrumbs a:hover {
        color: #B9DFE2;
    }

    .breadcrumbs {
        padding-top: 32px;
    }
    
}