.text-block-icon {
    padding-top: 34px;
    position: relative;
    z-index: 1;
}


.text-block-icon::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 82px;
    width: 100%;
    background-color: var(--color-white);
    z-index: -1;
}

.text-block-icon__text {
    padding-top: 65px;
}

.text-block-icon__image {
    padding: 15px 38px 0 38px;
}

.text-block-icon__image img {
    mix-blend-mode: multiply;
}

.text-block-icon__text .btn-tertiary {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .text-block-icon {
        padding-top: 76px;
    }

    .text-block-icon__image {
        padding: 0 0 0 0;
        margin-top: -40px;
    }

    .text-block-icon__image img {
        width: 372px;
        float: right;
    }
    
    .text-block-icon::before {
        height: 52px;
    }
    
}

@media (min-width: 1200px) {
    .text-block-icon {
        padding-top: 100px;
    }

    .card-icon-flex {
        margin: 0 -12px;
    }

    .card-icon-item {
        padding: 0 12px;
    }

    .text-block-icon__wrap {
        display: flex;
        justify-content: space-between;
    }

    .text-block-icon__image {
        padding: 0 0 0 0;
        margin-top: -10px;
    }

    .text-block-icon__image img {
        width: 100%;
        float: none;
    }
    
    .text-block-icon::before {
        height: 185px;
    }

    .text-block-icon__text {
        padding-top: 20px;
        width: 452px;
    }

    .text-block-icon__icon {
        padding-top: 0;
        width: calc(100% - 452px);
        padding-right: 86px;
    }
    
    
}