/*------------------------------------*\
    
    WebFX CF7 Customizations - Global styling for all CF7 Forms

    Add custom CF7 form styling to this file if it should be applied to all CF7 forms on the site
    Otherwise, put your block-specific styles in individual block stylesheets so that various block-specific styles aren't loaded on every CF7 form

\*------------------------------------*/


.wpcf7-not-valid-tip {
    display: block;
    color: #C10A0A;
    font-size: 14px;
    position: relative;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-right: 10px;
    text-align: right;
}

.wpcf7-not-valid-tip:before {
  content: '\e902';
  font-family: 'icomoon';
  position: absolute;
  right: 14px;
  top: -44px;
  color: #C10A0A;
  text-align: center;
  font-weight: normal;
  font-size: 26px;
} 

select.wpcf7-not-valid,
textarea.wpcf7-not-valid,
input.wpcf7-not-valid,
.wpcf7-not-valid .choices {
  border: 2px solid #C10A0A;
  outline: none;
  padding-right: 50px;
  background-color: #F4F9FA;
}