.fx-accordion {
    position: relative;
}

.fx-accordion ul,
.fx-accordion ol {
    display: inline-block;
    vertical-align: middle;
}

.fx-accordion__panels {
    padding-top: 30px;
}

.fx-accordion__panel {
    background-color: var(--color-white);
    box-shadow: 0 0 16px rgba(29, 66, 138, 0.16);
    border-radius: 4px;
    padding-bottom: 10px;
}

.fx-accordion__panel__toggle {
    position: relative;
    list-style-type: none !important;
    margin: 20px 0 0 15px;
    display: block;
    color: #161E43;
    line-height: normal;
    background: none;
    padding: 15px 125px 10px 0;
    text-decoration: none;
    border:none;
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 2px solid rgba(29,66,138,0.15);
    width: calc(100% - 15px);
}


.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle,
.fx-accordion__panel__toggle:hover,
.fx-accordion__panel__toggle:focus {
    color: #161E43;
}


.fx-accordion__panel .fx-accordion__panel__toggle:after {
    content: '\e901';
    font-family: 'icomoon';
    position: absolute;
    top: 17px;
    right: 15px;
    font-weight: normal;
    font-size: 15px;
    color: var(--color-teal);
}

.fx-accordion__panel .fx-accordion__panel__toggle:before {
    content: 'Read More';
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 15px;
    right: 35px;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-teal);
}

.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle:after {
    content: '\e910';
}


.fx-accordion__panel.is-expanded .fx-accordion__panel__toggle:before {
    content: 'Read Less';
}


.fx-accordion__panel:not(.is-expanded) .fx-accordion__panel__content {
    display: none;
}

.fx-accordion__panel__content {
    padding: 10px;
    margin: 15px 15px 5px 15px;
    overflow: hidden;
    background-color: var(--color-light-teal);
    border-radius: 4px;
}

@media (min-width: 768px) {

    .fx-accordion__panels {
        padding-top: 12px;
    }

    .fx-accordion__panel {
        padding-bottom: 13px;
    }

    .fx-accordion__panel__toggle {
        margin: 20px 0 0 35px;
        padding: 25px 225px 10px 0;
        font-size: 22px;
        width: calc(100% - 35px);
    }

    .fx-accordion__panel .fx-accordion__panel__toggle:after {
        top: 32px;
        right: 35px;
    }
    
    .fx-accordion__panel .fx-accordion__panel__toggle:before {
        top: 30px;
        right: 60px;
    }

    .fx-accordion__panel__content {
        padding: 25px;
        margin: 15px 35px 25px 35px;
    }
}
